<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav>
    <a href="/">Cookbook</a>
    <% if (user) { %>
    <a href="/auth/signout">Sign out</a>
    <% } %>
  </nav>

  <h1>Welcome, <%= user ? user.username : 'Guest' %> to the Cookbook</h1>

  <% if (!user) { %>
    <p>Please sign in to add recipes</p>
    <a href="/auth/signin">Sign In</a>
    <p>Or</p>
    <p> 
      <a href="/auth/signup">Sign Up</a></p>
  <% } %>
</body>
</html>